/* import forms */
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* variables */
:root {
    --dark: #272a31;
    --orange: #ec5242;
    --gray: #d3d3d3;
    --primary: #fff;
    --black: #000;
    --lato-font: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--lato-font);
    /* background: var(--gray); */
    color: white;
}


.top-nav {
    color: var(--gray);
    background: var(--dark);
    display: none;
}

.top-links {
    margin: 0 14%;
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.top-links li {
    margin: 0 6px;
    font-weight: 400;
}


.logo {
    display: none;
}

.campaign {
    color: var(--orange);
    border: 4px solid var(--orange);
}

.nav-links {
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
    margin: 0;
    display: none;
}

.fa-bars {
    font-size: 2em;
    margin: 15px 30px 0;
    color: #000;
}

.fa-xmark {
    color: black;
    font-size: 1.5em;
    color: gray;
}

.mobile-menu {
  background-color: var(--primary);
  position: fixed;
  height: auto;
  width: 70%;
  top: 0;
  padding: 28px;
  transition: all 0.2s linear;
  transform: translateX(-100%);
}

.show-mobile-menu {
  transform: translateX(0);
}

.mobile-menu .nav-links {
    padding: 5px 0;
}

.mobile-menu .nav-item {
    padding: 8px 0;
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu .nav-item {
    display: block;
}

#hero-section {
    background: url(../assets/images/bg-img.png) no-repeat -10% 5%;
}


.text-wrap {
    padding: 50px 30px;
    color: var(--orange);
    background-color: rgb(242, 240, 240);
}

.adjust-text {
    font-size: 1.3em;
    font-weight: 900;
    line-height: 1.4;
}

.paragraph {
    border: 1px solid var(--primary);
    color: var(--black);
    padding: 5px 10px;
    background-color: (--dark);
    margin: 15px 0;
    line-height: 1.8;
}

/* about section */
.contact-info {
    margin: 5% auto 0;
    padding: 20px;
    font-size: 0.9em;
    width: 80%;
}

.email {
    text-decoration: underline;
    margin-top: 5px;
    font-weight: bold;
}

.desc {
    font-size: 0.8em;
    margin: 0 10%;
}

.main-logo {
    text-align: center;
    border: 1px solid var(--gray);
    padding: 10% 0;
    margin: 25px 20px 0;
}

.logo-text {
    font-weight: 900;
    font-size: 2em;
}
/* ============== */

.date {
    color: var(--black);
    margin: 20px 0;
}
.bold {
    font-weight: 900;
}

#main-program {
    padding: 25px 0px;
    background-color: rgb(32, 32, 32);
}

.line {
    border: 2px solid #e02712;
    width: 10%;
    background: var(--orange);
}

.heading {
    color: var(--primary);
    margin: 15px;
    text-align: center;
}

.program-item {
    background-color: var(--dark);
    display: inline-grid;
    grid-template-columns: 10% 30% 50%;
    column-gap: 15px;
    /* max-width: 92%; */
    padding: 8px;
    /* justify-content: center; */
    align-items: center;
    margin: 8px 12px 8px 12px;
}

.icon {
    font-size: 2em;
}

.sub-heading {
    color: var(--orange);
    font-weight: 600;
    margin-left: 6px;
    font-size: 1.3em;
}
.para {
    padding: 0 10px;
    font-size: 0.9em;
}

.btn-box {
  text-align: center;
  margin: 35px 0;
}

.btn-orange {
    /* width: 80%; */
    padding: 30px;
    background-color: var(--orange);
    border: none;
    font-size: 20px;
    color: var(--primary);
    font-weight: 500;
}

#featured-speakers {
    margin-top: 18%;
    color: #000 !important
}

.img-card {
    margin: 5% 2%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.img-container {
    width: 100%;
    height: 90%;
}

.img-card img {
    width: 100%;
    height: 100%;
}

.info {
    padding-left: 10px;
}

.name{
    font-size: 1.1rem;
    font-weight: 900;
}

.title {
    color: var(--orange);
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
}

.short-line {
    border: 1px solid gray;
    width: 10%;
    margin: 0 0 5px;
}

.bio {
    font-size: 0.9em;
}

.more-btn-box {
    text-align: center;
}

.btn-more {
    width: 90%;
    background-color: var(--primary);
    border: 1px solid var(--gray);
    color: (--dark);
    padding: 3%;
    letter-spacing: 15;
}

#partners-section {
    padding: 10% 0;
    background-color: var(--dark)!important;
}

#partners-section .container {
    margin-top: 8%;
    display: flex;
    /* grid-template-columns: auto auto auto; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#partners-section .container > div {
    margin: 5px;
}

.copy {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  10%;
    align-items: center;
    margin-top: 10%;
}

.copy .logo {
    display: block;
}

.copy a {
    margin: 0 6px;
    font-weight: 400;
    text-decoration: none;
    font-weight: 900;
    color: #000;
    font-size: 1.2em;
    line-height: 0.9;
}

.small {
    font-size: .7em;
}


/* about */
.event-img {
    background: url(../assets/images/conf2.webp);
    width: 85%;
    height: 200px;
}

.event-content {
    background: rgba(247, 68, 23, 0.5);
    width: 100%;
    height: 100%;
}

.event-text {
    display: flex;
    flex-direction: column;
}


/* for desktop */
@media (min-width: 768px) {
    nav {
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
}

